:root {
  --font-family: 'Roboto';
  --theme-color: #4ec259;
  --theme-color-accent: #67d23c;
  --bg-color: #f6fdf6;
  --color-black: #092404;
  /* --bm-section: clamp(3.75rem, 3.4023rem + 1.5038vw, 5rem); */
  /* --max-content-size: 1180px; */
}


.header {
  width: 100%;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

.desktop-container {
}

.header-container__row {
  display: flex;
  gap: 24px;
}

.header__link {
  transition: color 120ms linear;
}

.header__link:hover {
  color: var(--theme-color-accent);
}

.header-phone-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  transition: color 300ms linear;
  position: relative;
  text-decoration: none;
}

.header-phone-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
}

.header-phone-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: var(--theme-color-accent);
    transition: width 0.5s;
}


.header-phone-link:hover {
  color: var(--theme-color-accent);
}

.logo-link {

}

.logo-image {

}

.header__geo-point {
  position: relative;
  font-size: 18px;
  line-height: 1.5;
}

.header__geo-point:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/city.svg) center center no-repeat;
  position: absolute;
  left: -29px;
  top: 0;
}

.header__social {
  display: flex;
  gap: 10px;
}

.social__link {
  padding: 9px;
  background-color: #fff;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: outline 300ms ease-out;
  outline: 1px solid transparent;
}

.social__link:hover {
  outline: 1px solid var(--theme-color-accent);
}

.social__link img{
  max-width: 20px;
  max-height: 17px;
}

.header__btns-container {
  display: flex;
  gap: 20px;
}

.header__menu_burger {
  display: none;
  width: 24px;
  aspect-ratio: 1/1;
  height: auto;
  padding: 2px;
  background: url(../images/burger.svg) center center no-repeat;
  background-size: cover;
}

.button {
  border-radius: 90px;
  line-height: 1.4;
  color: #fff;
  transition: scale 300ms ease-out;
}

.button:hover {
  scale: 1.02;
}

.btn_t_pb12_pi67 {
  padding: 12px 67px;
}

.header__btn {
  box-shadow: 0px 4px 15px 0px rgb(8, 99, 0, 0.15);
}

.btn_color_light {
  background-color: transparent;
  border: 1px solid var(--theme-color-accent);
  color: var(--theme-color-accent);
  box-shadow: 0px 4px 15px 0px rgb(39, 163, 51, 0.15);
  transition: color 450ms ease-out, background-color 200ms ease-out;
}

.btn_color_light:hover {
  background-color: var(--theme-color-accent);
  color: #fff;
}

.menu {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--theme-color);
  color: #fff;
}

.menu__list {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.menu__item {
position: relative;
transition: color 120ms linear;
margin-inline-end: 24px;
}

.menu__item:hover {
  color: #89ff5a;
}

.menu__item::after {
  content: '';
  position: absolute;
  color: inherit;
  display: block;
  width: 12px;
  height: 7px;
  right: -20px;
  top: 8px;
  background: url(../images/arrow-menu.svg) center center no-repeat;
}

.input {
  border: none;
  line-height: 1.4;
  outline: none;
}

.input:active {
  outline: 3px solid var(--theme-color-accent);
}

.input:focus {
  outline: 3px solid var(--theme-color-accent);
}

.popup {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup_type_result {
  z-index: 100;
}

.popup_type_result .popup__content  {
  max-width: 600px;
}

.popup__content {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 20px 60px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__input {
  width: 90%;
  margin-block-end: 40px;
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 15px;
}

.popup__input:focus {
  outline: 1px solid var(--theme-color);
}

.popup__button {
  font-size: 18px;
  font-weight: 600;
}

.button_disabled {
  background-color: var(--bg-color);
  color: #919191;
  outline: 3px solid #a9a9a98c;
  cursor: default;
}

.button_disabled:hover {
  scale: 1;
}

.popup__close {
  width: 30px;
  height: 30px;
  background: transparent url('../images/close.svg') center no-repeat;
  background-size: 30px 30px;
  border: none;
  position: absolute;
  top: -42px;
  right: -42px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: visibility 0s, opacity 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__title {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-block-end: 30px;
}

.popup_description {
  font-size: 18px;
}

.popup_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.6s;
}

.popup__input-container {
  width: 100%;
  position: relative;
}

.popup__input-error {
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  top: 46px;
  left: 0;
  visibility: hidden;
}

.popup__input_type_error {
  outline: 1px solid #ff0000;
}

.popup__input-error_active {
  visibility: visible;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-limiter {
  width: 100%;
  max-width: 1120px;
  margin-inline: 20px;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../images/hero.jpeg) center center no-repeat;
  background-size: cover;
  padding-block: 50px 62px;
}

.banner__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.banner__content .btn-form-call {
  font-weight: 500;
}

.content__title_main {
  font-weight: 500;
  font-size: clamp(2rem, 1.6429rem + 1.6327vw, 3.5rem);
  line-height: 1.1;
  max-width: 640px;
}

.banner__content__advantages-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  counter-reset: item;
  list-style-type: none;
}

.banner__content__advantages-item {
  position: relative;
  font-size: 18px;
  line-height: 1.4;
  margin-inline-start: 45px;
}

.banner__content__advantages-item::before {
  position: absolute;
  bottom: -2px;
  left: -45px;
  content: "0" counter(item);
  counter-increment: item;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.4405rem + 0.2721vw, 1.75rem);
  line-height: 1.3;
  font-family: 'Montserrat';
}

.banner__form {
  padding: 25px;
  background-color: var(--theme-color);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 350px;
}

.banner__button_mobile {
  display: none;
}

.form__title {
  color: #fff;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.form__input {
  border-radius: 20px;
  background-color: #fff;
  padding: 10px 16px;
}

.form__input:first-of-type {
  margin-bottom: 16px;
}

.popup__input_type_name {
}

/* .popup__input_type_name label {
  background-image: url(../images/person.svg);
} */

.banner__form .popup__input_type_tel {
  margin-bottom: 20px;
}

.form__button {
  padding: 12px 77px;
}

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.services__content {
  padding-block: 80px;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align: center;
}

.services__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, clamp(17.5rem, 16.4286rem + 4.898vw, 22rem));
  gap: 30px 32px;
}

.service__list-item {
  display: block;
  border-radius: 14px;
  background-color: var(--bg-color);
  transition: scale 230ms ease-in;
}

.service__list-item:hover {
  scale: 1.015;
  }

.service__link {
  display: block;
  height: 100%;
  padding: 24px;
}

.service__title {
  margin-bottom: 10px;
}

.service-content__list_unnum {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.service-content__item {
  position: relative;
  margin-inline-start: 16px;
}

.service-content__item::before {
  position: absolute;
  top: 7px;
  left: -16px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--theme-color);
}

.service__link .service__content-line {
  display: block;
  width: 100%;
  height: 1px;
  margin-block: 16px 15px;
  background-color: var(--theme-color);
}

.service__link span {
  font-weight: 700;
  color: var(--theme-color);
  font-size: 18px;
}

@media screen and (width <= 1024px) {
  .desktop-container {
    display: none;
  }

  .header__geo-point {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__btns-container {
    display: none;
  }

  .header__menu_burger {
    display: block;
  }

  .header-container {
    padding-inline: 20px;
  }

  .menu {
    display: none;
  }

  .content__title_main {
    line-height: 1.2;
  }

  .banner__form {
    display: none;
  }

  .banner__content__advantages-item {
    font-size: 16px;
  }

  .banner__button_mobile {
    display: inline;
  }
}

@media screen and (width <= 350px) {
  .banner__content__advantages-item:nth-child(3)::before, .banner__content__advantages-item:nth-child(4)::before{
    bottom: 18px;
  }
}
